<body class="monniitor_body">
  
  <p>
    <strong>Title:</strong>
    <%= @moniitor.title %>
  </p>

  <%= link_to 'Edit', edit_moniitor_path(@moniitor) %> |
  <%= link_to 'Back', moniitors_path %>


</body>
