
<body class="insta_body">

  <p>
    <strong>Name:</strong>
    <%= @insta_tag.name %>
  </p>

  <p>
    <strong>Moniitor:</strong>
    <%= Moniitor.find(@insta_tag.moniitor_id).title %>
  </p>

  <%= link_to 'Edit', edit_insta_tag_path(@insta_tag) %> |
  <%= link_to 'Back', insta_tags_path %>


</body>
