@font-face {
  font-family: 'Druk-Wide-Cyr-Bold';
  src: font-url('Druk-Wide-Cyr-Bold.otf') format("opentype");
}

@font-face {
  font-family: 'Proxima-Nova-Extrabold';
  src: font-url('Proxima-Nova-Extrabold.otf') format("opentype");
}

@font-face {
  font-family: 'Proxima-Nova-Regular';
  src: font-url('Proxima-Nova-Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Proxima-Nova-Light';
  src: font-url('Proxima-Nova-Light.otf') format("opentype");
}

@font-face {
  font-family: 'Proxima-Nova-Semibold';
  src: font-url('Proxima-Nova-Semibold.otf') format("opentype");
}

@font-face {
  font-family: 'Firs-Bold';
  src: font-url('Firs-Bold.otf') format("opentype");
}
